[Unit]
Description=FRITZ!Box Monitoring Service
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/fritz-mon -config=/etc/fritz-mon.yml

[Install]
WantedBy=multi-user.target
